<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping list</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app" class="container">
        <h2>{{ title }}</h2>
        <input v-model="newItem" placeholder="Dodaj produkt" @keyup.enter="addItem">
        <button type="submit" @click="addItem">Dodaj!</button>
        <ul>
            <li v-for="item in items">
                <label>
                    <input type="checkbox" v-model="item.checked">
                    <span :class="{ 'removed': item.checked }">
                        {{ item.text }}
                    </span>
                </label>
            </li>
        </ul>
        <hr>
        <em>Zmień nazwę listy zakupów</em>
        <input type="text" v-model="title">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="shopping.js"></script>
</body>
</html>