<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping list</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app" class="container">
        <h2>{{ title }}</h2>
        <ul>
            <li v-for="item in items">
                <label>
                    <input type="checkbox" v-model="item.checked">
                    <span :class="{ 'removed': item.checked }">
                        {{ item.text }}
                    </span>
                </label>
            </li>
        </ul>
        <div class="footer"><hr>
            <em>Zmień nazwę listy zakupów</em>
            <input type="text" v-model="title">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var model = {
            items: [{text: 'Banany', checked: true}, {text: 'Jabłka', checked: false}],
            title: 'Moja lista zakupów'
        };
        new Vue({
            el: '#app',
            data: model
        });
    </script>
</body>
</html>